doctype html 
head 
    title #{title} - Benyasca
    link(rel='stylesheet', href='/stylesheets/style.css') 
    body 
        header 
            h1 Laoska Benyasca
        .container 
            .main-content 
                block content 
            .sidebar 
                block sidebar 
        footer 
            p Running on node with Express, Jade and Stylus 

